@model Lab04.Models.ViewModels.UserDashboardViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_UserCard", Model.User)
    </div>


    <div class="col-md-6 gedf-main">

        <!--- \\\\\\\UserPage -->
        @await Html.PartialAsync("_NewRecord", new RecordEditModel { UserId = Model.User.Id })
        <!-- UserPage -->
        <!--- Post -->
        @foreach (Record record in Model.Records)
        {
            @await Html.PartialAsync("_Record", record)
        }
    </div>

    <div class="col-md-3">
        <!-- To be filled -->
    </div>
</div>